# Variáveis de Ambiente
.env
.env.*

# Ambientes Virtuais do Python
venv/
env/
.venv/

# Arquivos de Banco de Dados Locais
*.sqlite3
*.db

# Arquivos de Cache e Compilados do Python
__pycache__/
*.py[cod]

# Logs e Arquivos Temporários
*.log
*.tmp

# Configurações de Editores de Código e IDEs
.vscode/
.idea/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db